{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- with . }}
<main>
    <section class="with-form" aria-labelledby="sign-up">
        <h2 id="sign-up">Sign up for an account on {{ .instance.Title -}}</h2>
        {{- if .oidcEnabled }}
        <p>To sign up for an account on this instance, you must register with its OIDC provider. Contact the instance admin for more details.</p>
        {{- else if not .registrationOpen }}
        <p>This instance is not currently open to new sign-ups.</p>
        {{- else }}
        <form action="/signup" method="POST">
            <div class="labelinput">
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    name="email"
                    required
                    placeholder="Email address"
                >
            </div>
            <div class="labelinput">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    name="password"
                    required
                    placeholder="Please enter your desired password"
                    autocomplete="new-password"
                >
            </div>
            <div class="labelinput">
                <label for="username">
                    Username (lowercase a-z, numbers, and underscores; max 64 characters).<br/>
                    <small>Your username will be part of your fediverse handle, and cannot be changed later, so choose thoughtfully!</small>
                </label>
                <input
                    id="username"
                    type="text"
                    name="username"
                    required
                    placeholder="Please enter your desired username"
                    pattern="^[a-z0-9_]{1,64}$"
                    autocapitalize="off"
                    spellcheck="false"
                    title="lowercase a-z, numbers, and underscores; max 64 characters"
                >
            </div>
            <div class="labelinput">
                <label for="locale">
                    Preferred language (optional)<br/>
                    <small>This currently only affects your initial default post language, which you can change later if you want.</small>
                </label>
                <select id="locale" name="locale">
                    <option value="">Choose your default post language</options>
                    <option value="AB">Abkhaz - Аҧсуа</option>
                    <option value="AA">Afar - Afaraf</option>
                    <option value="AF">Afrikaans</option>
                    <option value="AK">Akan</option>
                    <option value="SQ">Albanian - Shqip</option>
                    <option value="AM">Amharic - አማርኛ</option>
                    <option value="AR">Arabic - العربية</option>
                    <option value="AN">Aragonese - Aragonés</option>
                    <option value="HY">Armenian - Հայերեն</option>
                    <option value="AS">Assamese - অসমীয়া</option>
                    <option value="AV">Avaric - Авар</option>
                    <option value="AE">Avestan - avesta</option>
                    <option value="AY">Aymara - Aymar</option>
                    <option value="AZ">Azerbaijani - Azərbaycanca</option>
                    <option value="BM">Bambara - Bamanankan</option>
                    <option value="BA">Bashkir - Башҡортса</option>
                    <option value="EU">Basque - Euskara</option>
                    <option value="BE">Belarusian - Беларуская</option>
                    <option value="BN">Bengali - বাংলা</option>
                    <option value="BH">Bihari - भोजपुरी</option>
                    <option value="BI">Bislama</option>
                    <option value="BS">Bosnian - Bosanski</option>
                    <option value="BR">Breton - Brezhoneg</option>
                    <option value="BG">Bulgarian - Български</option>
                    <option value="MY">Burmese - မြန်မာဘာသာ</option>
                    <option value="CA">Catalan - Català</option>
                    <option value="CH">Chamorro - Chamoru</option>
                    <option value="CE">Chechen - Нохчийн</option>
                    <option value="NY">Chichewa</option>
                    <option value="ZH">Chinese - 中文</option>
                    <option value="CV">Chuvash - Чӑвашла</option>
                    <option value="KW">Cornish - Kernewek</option>
                    <option value="CO">Corsican - Corsu</option>
                    <option value="CR">Cree - ᓀᐦᐃᔭᐍᐏᐣ</option>
                    <option value="HR">Croatian - Hrvatski</option>
                    <option value="CS">Czech - Čeština</option>
                    <option value="DA">Danish - Dansk</option>
                    <option value="DV">Divehi</option>
                    <option value="NL">Dutch - Nederlands</option>
                    <option value="DZ">Dzongkha - རྫོང་ཁ</option>
                    <option value="EN">English</option>
                    <option value="EO">Esperanto</option>
                    <option value="ET">Estonian - Eesti</option>
                    <option value="EE">Ewe - Eʋegbe</option>
                    <option value="FO">Faroese - Føroyskt</option>
                    <option value="FJ">Fijian - Na Vosa Vaka-Viti</option>
                    <option value="FI">Finnish - Suomi</option>
                    <option value="FR">French - Français</option>
                    <option value="FF">Fula - Fulfulde</option>
                    <option value="GL">Galician - Galego</option>
                    <option value="KA">Georgian - ქართული</option>
                    <option value="DE">German - Deutsch</option>
                    <option value="EL">Greek - Ελληνικά</option>
                    <option value="GN">Guaraní - Avañe'ẽ</option>
                    <option value="GU">Gujarati - ગુજરાતી</option>
                    <option value="HT">Haitian - Kreyòl Ayisyen</option>
                    <option value="HA">Hausa - هَوُسَ</option>
                    <option value="HE">Hebrew - עברית</option>
                    <option value="HZ">Herero - Otjiherero</option>
                    <option value="HI">Hindi - हिन्दी</option>
                    <option value="HO">Hiri Motu</option>
                    <option value="HU">Hungarian - Magyar</option>
                    <option value="IA">Interlingua</option>
                    <option value="ID">Indonesian - Bahasa Indonesia</option>
                    <option value="IE">Interlingue</option>
                    <option value="GA">Irish - Gaeilge</option>
                    <option value="IG">Igbo</option>
                    <option value="IK">Inupiaq - Iñupiak</option>
                    <option value="IO">Ido</option>
                    <option value="IS">Icelandic - Íslenska</option>
                    <option value="IT">Italian - Italiano</option>
                    <option value="IU">Inuktitut - ᐃᓄᒃᑎᑐᑦ</option>
                    <option value="JA">Japanese - 日本語</option>
                    <option value="JV">Javanese - Basa Jawa</option>
                    <option value="KL">Kalaallisut</option>
                    <option value="KN">Kannada - ಕನ್ನಡ</option>
                    <option value="KR">Kanuri</option>
                    <option value="KS">Kashmiri - كشميري</option>
                    <option value="KK">Kazakh - Қазақша</option>
                    <option value="KM">Khmer - ភាសាខ្មែរ</option>
                    <option value="KI">Kikuyu - Gĩkũyũ</option>
                    <option value="RW">Kinyarwanda</option>
                    <option value="KY">Kyrgyz - Кыргызча</option>
                    <option value="KV">Komi - Коми</option>
                    <option value="KG">Kongo</option>
                    <option value="KO">Korean - 한국어</option>
                    <option value="KU">Kurdish - Kurdî</option>
                    <option value="KJ">Kwanyama - Kuanyama</option>
                    <option value="LA">Latin - Latina</option>
                    <option value="LB">Luxembourgish - Lëtzebuergesch</option>
                    <option value="LG">Ganda - Luganda</option>
                    <option value="LI">Limburgish - Limburgs</option>
                    <option value="LN">Lingala - Lingála</option>
                    <option value="LO">Lao - ພາສາລາວ</option>
                    <option value="LT">Lithuanian - Lietuvių</option>
                    <option value="LU">Luba-Katanga - Tshiluba</option>
                    <option value="LV">Latvian - Latviešu</option>
                    <option value="GV">Manx - Gaelg</option>
                    <option value="MK">Macedonian - Македонски</option>
                    <option value="MG">Malagasy</option>
                    <option value="MS">Malay - Bahasa Melayu</option>
                    <option value="ML">Malayalam - മലയാളം</option>
                    <option value="MT">Maltese - Malti</option>
                    <option value="MI">Māori</option>
                    <option value="MR">Marathi - मराठी</option>
                    <option value="MH">Marshallese - Kajin M̧ajeļ</option>
                    <option value="MN">Mongolian - Монгол</option>
                    <option value="NA">Nauru - Dorerin Naoero</option>
                    <option value="NV">Navajo - Diné Bizaad</option>
                    <option value="ND">Northern Ndebele - isiNdebele</option>
                    <option value="NE">Nepali - नेपाली</option>
                    <option value="NG">Ndonga - Owambo</option>
                    <option value="NB">Norwegian Bokmål - Norsk (Bokmål)</option>
                    <option value="NN">Norwegian Nynorsk - Norsk (Nynorsk)</option>
                    <option value="NO">Norwegian - Norsk</option>
                    <option value="II">Nuosu - ꆈꌠ꒿ Nuosuhxop</option>
                    <option value="NR">Southern Ndebele - isiNdebele</option>
                    <option value="OC">Occitan</option>
                    <option value="OJ">Ojibwe - ᐊᓂᔑᓈᐯᒧᐎᓐ</option>
                    <option value="CU">Old Church Slavonic - Словѣ́ньскъ</option>
                    <option value="OM">Oromo - Afaan Oromoo</option>
                    <option value="OR">Oriya - ଓଡି଼ଆ</option>
                    <option value="OS">Ossetian - Ирон æвзаг</option>
                    <option value="PA">Panjabi - ਪੰਜਾਬੀ</option>
                    <option value="PI">Pāli - पाऴि</option>
                    <option value="FA">Persian - فارسی</option>
                    <option value="PL">Polish - Polski</option>
                    <option value="PS">Pashto - پښتو</option>
                    <option value="PT">Portuguese - Português</option>
                    <option value="QU">Quechua - Runa Simi</option>
                    <option value="RM">Romansh - Rumantsch</option>
                    <option value="RN">Kirundi</option>
                    <option value="RO">Romanian - Română</option>
                    <option value="RU">Russian - Русский</option>
                    <option value="SA">Sanskrit - संस्कृतम्</option>
                    <option value="SC">Sardinian - Sardu</option>
                    <option value="SD">Sindhi - سنڌي‎</option>
                    <option value="SE">Northern Sami - Sámegiella</option>
                    <option value="SM">Samoan - Gagana Sāmoa</option>
                    <option value="SG">Sango - Sängö</option>
                    <option value="SR">Serbian - Српски</option>
                    <option value="GD">Gaelic - Gàidhlig</option>
                    <option value="SN">Shona - ChiShona</option>
                    <option value="SI">Sinhala - සිංහල</option>
                    <option value="SK">Slovak - Slovenčina</option>
                    <option value="SL">Slovene - Slovenščina</option>
                    <option value="SO">Somali - Soomaaliga</option>
                    <option value="ST">Southern Sotho - Sesotho</option>
                    <option value="ES">Spanish - Español</option>
                    <option value="SU">Sundanese - Basa Sunda</option>
                    <option value="SW">Swahili - Kiswahili</option>
                    <option value="SS">Swati - SiSwati</option>
                    <option value="SV">Swedish - Svenska</option>
                    <option value="TA">Tamil - தமிழ்</option>
                    <option value="TE">Telugu - తెలుగు</option>
                    <option value="TG">Tajik - Тоҷикӣ</option>
                    <option value="TH">Thai - ภาษาไทย</option>
                    <option value="TI">Tigrinya - ትግርኛ</option>
                    <option value="BO">Tibetan Standard - བོད་ཡིག</option>
                    <option value="TK">Turkmen - Türkmençe</option>
                    <option value="TL">Tagalog</option>
                    <option value="TN">Tswana - Setswana</option>
                    <option value="TO">Tonga - faka Tonga</option>
                    <option value="TR">Turkish - Türkçe</option>
                    <option value="TS">Tsonga - Xitsonga</option>
                    <option value="TT">Tatar - Татарча</option>
                    <option value="TW">Twi</option>
                    <option value="TY">Tahitian - Reo Mā’ohi</option>
                    <option value="UG">Uyghur - ئۇيغۇرچه</option>
                    <option value="UK">Ukrainian - Українська</option>
                    <option value="UR">Urdu - اردو</option>
                    <option value="UZ">Uzbek - O‘zbek</option>
                    <option value="VE">Venda - Tshivenḓa</option>
                    <option value="VI">Vietnamese - Tiếng Việt</option>
                    <option value="VO">Volapük</option>
                    <option value="WA">Walloon - Walon</option>
                    <option value="CY">Welsh - Cymraeg</option>
                    <option value="WO">Wolof</option>
                    <option value="FY">Western Frisian - Frysk</option>
                    <option value="XH">Xhosa - isiXhosa</option>
                    <option value="YI">Yiddish - ייִדיש</option>
                    <option value="YO">Yoruba - Yorùbá</option>
                    <option value="ZA">Zhuang - Cuengh</option>
                    <option value="ZU">Zulu - isiZulu</option>
                </select>
            </div>
            {{- if .reasonRequired }}
            <div class="labelinput">
                <label for="reason">
                    Reason you want to join {{ .instance.Title }} (40-500 characters).<br/>
                    <small>The admin(s) will use this text to decide whether or not to approve your sign-up.</small>
                </label>
                <textarea
                    id="reason"
                    name="reason"
                    required
                    placeholder="Enter a few sentences about why you want to join this instance. If you know someone on the instance already, you may want to mention them here. You might want to link to any other accounts you have elsewhere too."
                    rows="8"
                    minlength="40"
                    maxlength="500"
                    autocapitalize="sentences"
                    title="40-500 characters"
                ></textarea>
            </div>
            {{- end }}
            <div class="checkbox">
                <label for="agreement">I have read and accept the <a href="/about#terms">terms and conditions</a> of {{ .instance.Title }}, and I agree to abide by the <a href="/about#rules">instance rules</a>.</label>
                <input
                    id="agreement"
                    type="checkbox"
                    name="agreement"
                    required
                    value="true"
                >
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        {{- end }}
    </section>
</main>
{{- end }}